html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}

.canvas-container {
  display: block;
  position: absolute;
  background: #fff;
  border: 1px solid black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  display: block;
  position: absolute;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  width: 100%;
  height: 100%;
}

.score {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  margin: 0.5em;
  font-size: 2vw;
  color: #fff;
}

.score:before {
  content: 'Score: ';
}

h1, h2, span, p {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 3vw;
}

p {
  font-size: 2vw;
}

.title-container, .gameover {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 5;
  height: 100%;
}

.title {
  color: #d30000;
  position: relative;
  top: 25%;
}

.start, .restart {
  position: relative;
  top: 26%;
  animation-name: flickering-text;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.credits {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.credits p {
  font-size: 1.5vw;
  color: #342c74;
}

.gameover {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 5;
}

.gameover h1 {
  color: #fff;
  position: relative;
  top: 25%;
}

.hidden {
  display: none;
}

@keyframes flickering-text {
  0% {
    color: #5ef4ff;
  }
  100% {
    color: #0000ff;
  }
}
